<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sakila.mapper.FilmActorMapper">


	<!-- actorOne : 배우의 필모그래피 입력 -->
	<insert id="insertFilmActor" parameterType="com.example.sakila.vo.FilmActor">
		INSERT INTO film_actor (actor_id, film_id)
		VALUES(#{actorId}, #{filmId})
	</insert>

	<!-- actorOne : film 삭제 : 필모그래피 내 작품 삭제 -->
	<delete id="deleteFilmActor"  parameterType="com.example.sakila.vo.FilmActor">
		DELETE 
		FROM film_actor
		WHERE actor_id = #{actorId} 
		AND film_id = #{filmId}
	</delete>
	
	<!-- removeActor : 배우 삭제시 관련 film 삭제 -->
	<delete id="deleteFilmActorByActor" parameterType="int">
		DELETE
		FROM film_actor
		WHERE actor_id = #{actorId}
	</delete>

	<!-- on/removeFilm : 필름 삭제시 관련 actor 삭제 -->
	<delete id="deleteFilmActorByFilm" parameterType="Integer">
		DELETE	
		FROM film_actor
		WHERE film_id = #{filmId}
	</delete>

</mapper>